:root {
  --very-dark-green: #1a3c40;
  --dark-green: #1d5c63;
  --green: #417d7a;
  --beige: #ede6db;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0%;
  line-height: 2;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  background-image: url(../images/football.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* start of header styles*/

.header {
  background-color: var(--very-dark-green);
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-link-logo {
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link-logo:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
}

.logo-img {
  width: 10.4rem;
  height: 6.4rem;
  object-fit: contain;
}
.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--beige);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 0.8rem;
}
.nav-link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
}
/*end of header styles*/

/*start of banner style*/
.content-section {
  letter-spacing: 0.6rem;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  color: var(--green);
  background-color: black, 90%;
  box-shadow: 0rem 0rem 0.7rem var(--beige);
  background-image: url("../images/splash.png");
  background-size: cover;
  background-position: center;
  animation: animatedBackground 60s linear infinite alternate;
  border-radius: 20%;
}

.content-section-title {
  font-size: 4rem;
}
.content-section-info {
  font-size: 2rem;
}

/*end of banner style */

/*start of button style*/
.btn-control {
  padding: 2rem 1rem;
  text-align: center;
}
.btn {
  font-size: 1.8rem;
  padding: 2rem;
  border: var(--very-dark-green) 0.5rem solid;
  color: var(--dark-green);
  border-radius: 4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--very-dark-green);
  box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--beige), 0.3);
  color: var(--beige);
  border: var(--dark-green) 0.5rem solid;
}
/*start of button style*/
.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15rem;
}
/* start of question styles */
.question-container {
  padding: 0%;
  border-radius: 20%;
}
.question-container .content-section-title {
  background-color: var(--very-dark-green);
  text-transform: uppercase;
}
.feedback-list {
  list-style: none;
  text-align: left;
  margin: 2rem 2rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: var(--very-dark-green);
  color: var(--beige);
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 20%;
  align-items: center;
  background-color: black;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.list-item:hover {
  cursor: pointer;
  color: var(--very-dark-green);
  box-shadow: inset 20rem 0 0 0 var(--beige);
}
/* end of question styles */

/*start of footer styles */
.footer {
  background-color: var(--very-dark-green);
  font-size: 1.4rem;
  padding: 2rem 0;
  text-align: center;
  color: var(--beige);
  letter-spacing: 0.4rem;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin: 1rem 0;
}
.contact-link {
  text-decoration: none;
  color: var(--beige);
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0.5rem 0;
}
.contact-link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

/*end of footer styles */
@media screen and (max-width: 768px) {
  .main {
    margin: 0;
  }
  .content-section {
    margin: 2rem 0.75rem;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
